@charset "ISO-8859-1";

body
{
	background-color:red;;
	color:red;;
}

.main
{
	width:1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: linear
}
span
{
	font-size: 30px;
}
h1{
	color:red;
	
}
